name: air-quality-daily

on:
  workflow_dispatch:
  schedule:
    - cron: '11 6 * * *'

jobs:
  schedule_pipelines:
    runs-on: ubuntu-latest

    permissions:
      pages: write
      contents: write

    steps:
      - name: checkout repo content
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'
          cache: 'pip'
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: create .env file
        run: |
          echo "HOPSWORKS_API_KEY=${{ secrets.HOPSWORKS_API_KEY}}">> .env
          echo "AQICN_API_KEY=${{secrets.AQICN_API_KEY}}">> .env
          echo "KEY_PARAMS_1=${{secrets.KEY_PARAMS_1}}">> .env
          echo "KEY_PARAMS_2=${{secrets.KEY_PARAMS_2}}">>.env
          echo "KEY_PARAMS_3=${{secrets.KEY_PARAMS_3}}">>.env
          echo "KEY_PARAMS_4=${{secrets.KEY_PARAMS_4}}">>.env
          echo "KEY_PARAMS_5=${{secrets.KEY_PARAMS_5}}">>.env
      - name: execute python workflows from bash script
        env:
          HOPSWORKS_API_KEY: ${{ secrets.HOPSWORKS_API_KEY }}
        run: |
          make aq-inference
      - name: github pages publish
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Air Quality Dashboard published"
          commit_options: '--no-verify --signoff'

          file_pattern: 'docs/air-quality/assets/img/* docs/_includes/* .cache.sqlite'

          repository: .

          status_options: '--untracked-files=no'

          skip_dirty_check: true

          skip_fetch: true

          skip_checkout: true

          push_options: '--force'
